body { background: #a949c6; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 43px; display: flex; }
.block-search-0 { color: #80fa5f; font-size: 14px; margin-bottom: 5px; }
.block-config-1 { color: #4f2b09; font-size: 16px; margin-bottom: 5px; }
.block-notify-2 { color: #f63bf5; font-size: 19px; margin-bottom: 5px; }
.block-notify-3 { color: #e5c8f1; font-size: 12px; margin-bottom: 5px; }
.block-order-4 { color: #6222b0; font-size: 13px; margin-bottom: 5px; }